/*
* @Author: Windsor
* @Date:   2017-09-15 17:09:06
* @Last Modified by:   Windsor
* @Last Modified time: 2017-09-15 17:35:43
*/
*{
	margin: 0;
	padding: 0;
	margin: auto;
	list-style: none;
	font-size: 14px;
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: #000;
}
html,body{
	background: rgba(0, 0, 0, 0.5);
}
main{
	width: 350px;
	height: 187px;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px 15px;
}
h3{
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 8px;
}
.inputEle{
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.inputEle input{
	width: 100%;
	outline: none;
	border: 2px solid #333;
	padding: 8px;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.inputEle input:focus{
	border: 2px solid #88d089;
}
button{
	width: 100%;
	color: #fff;
	text-align: center;
	line-height: 30px;
	background: #88d089;
	border: none;
	outline: none;
	font-size: 18px;
}